* {
  margin: 0;
  padding: 0;
}

main {
  width: 95%;
  margin: 0 auto;
}
.cards-container {
  margin: 24px 0;
}

.cards-container div {
  margin: 6px 0;
}

.cards-container-header {
  display: flex;
  justify-content: space-between;
}

.cards-container-header div {
  display: flex;
  gap: 20px;
}

.cards-container-header div button {
  padding: 8px;
  border-radius: 50%;
  border: none;
  text-align: center;
}

@media screen and (max-width: 750px) {
  #arrow_buttons_container {
    display: none;
  }
  .cards-container-header div {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

.cards-container-body {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-x: scroll;
}

.cards-container-body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cards-container-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card {
  position: relative;
  min-width: 205px;
}

.guest-favorite-txt {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 14px;
  padding-inline: 9.5px;
  padding-block: 5.5px;
  background-color: rgba(255, 255, 255, 0.8);
  background-clip: border-box;
  font-weight: 100;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.card img {
  height: 200px;
  border-radius: 20px;
  width: 100%;
}

.card * {
  margin: 1px 0;
}

.description-p {
  color: #6a6a6a;
}

/* Footer */
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0px;
  color: #222222;
}

.main-container {
  padding-top: 40px;
  background-color: #f7f7f7;
}

.all {
  margin-left: 20px;
  margin-top: 40px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tabs-list {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
  overflow-x: auto;
}

.tab-item {
  padding: 10px 0px;
  cursor: pointer;
  color: #717171;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}

.tab-item:hover {
  color: #000;
}

.active-tab {
  color: #000;
  border-bottom: 2px solid #000;
}

.tab-content {
  display: none;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  margin-right: 50px;
}

.heading {
  font-size: 14px;
}

.name {
  font-weight: bold;
  display: block;
}

.desc {
  color: #717171;
  text-decoration: none;
}

.desc:hover {
  color: black;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0px;
  border-bottom: 1px solid #dddddd;
}

.column-title {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 15px;
}

.link-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #222;
  text-decoration: none;
  font-size: 15px;
}

.link-item:hover {
  text-decoration: underline 2px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 100px;
  font-size: 14px;
}

.bottom-left {
  display: flex;
  gap: 10px;
}

.privacy-choice {
  color: #717171;
}

.privacy-choice:hover {
  text-decoration: underline 2px;
}

.bottom-left img {
  cursor: pointer;
}

.bottom-right {
  display: flex;
  gap: 20px;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

.translate {
  position: relative;
  left: 15px;
  bottom: 2px;
}

.bottom-right img {
  width: 20px;
  height: 20px;
}

.icons img:hover {
  width: 30px;
  height: 30px;
  margin: -4px;
}

header,
footer {
  background-color: #f7f7f7;
}
