* {
  margin: 0;
  padding: 0;
}

main {
  width: 95%;
  margin: 0 auto;
}
.cards-container {
  margin: 24px 0;
}

.cards-container div {
  margin: 6px 0;
}

.cards-container-header {
  display: flex;
  justify-content: space-between;
}

.cards-container-header div {
  display: flex;
  gap: 20px;
}

.cards-container-header div button {
  padding: 8px;
  border-radius: 50%;
  border: none;
  text-align: center;
}

@media screen and (max-width: 750px) {
  #arrow_buttons_container {
    display: none;
  }
  .cards-container-header div {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

.cards-container-body {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-x: scroll;
}

.cards-container-body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cards-container-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card {
  position: relative;
  min-width: 205px;
}

.guest-favorite-txt {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 14px;
  padding-inline: 9.5px;
  padding-block: 5.5px;
  background-color: rgba(255, 255, 255, 0.8);
  background-clip: border-box;
  font-weight: 100;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.card img {
  height: 200px;
  border-radius: 20px;
  width: 100%;
}

.card * {
  margin: 1px 0;
}

.description-p {
  color: #6a6a6a;
}
