body {
    margin: 0;
    padding: 0px 80px;
    background-color: white;
    font-family: sans-serif;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-section {
    position: relative;
    left: 290px;
    width: 1000px;
    height: 550px;

}

.back-img {
    width: 90%;
    height: 90%;
    border-radius: 24px;
    object-fit: cover;
}

.card-section {
    position: absolute;
    top: 140px;
    left: 50px;
    background: white;
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px #00000033;
}

.main-title {
    font-size: 30px;
    margin: 0 0 10px 0;
    color: #222;

}

.desc {
    font-size: 15px;
    color: #6a6a6a;
    margin-bottom: 25px;
}

.border-group {
    border: 1px solid #B0B0B0;
    border-radius: 12px;
}

.item {
    padding: 12px;
    cursor: pointer;
    border: 2px solid transparent;
}

.full {
    border-bottom: 1px solid #B0B0B0;
}

.row {
    display: flex;
}

.half {
    flex: 1;
    border-right: 1px solid #B0B0B0;
}

.no-right {
    border-right: none;
}

label {
    font-size: 13;
    font-weight: bold;
}

input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: transparent;
}

.pink-btn {
    background-color: #FF385C;
    color: white;
    border: none;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.active {
    border: 2px solid black;
    border-radius: 12px;
}